/*   ------------------      TITLE SECTION     ------------------    */

.content {
  /* margin: 10px; */
  padding: 2rem;
  margin-left: 220px;
  /* border: 1px solid red; */
  /* position: relative; */
}

.content__title {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

.content__title-title {
  /* border: 1px solid green; */

  height: 54px;
  width: 70%;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.05em;

  color: #ed7839;
}

.content__title-icons {
  /* border: 1px solid blue; */
  margin-top: 0.5rem;
}

/* .content__title-icons-buttons {
  display: flex;
} */

.content__title-icons-buttons .big,
.content__title-icons-buttons .small {
  width: 7rem;
  height: 40px;
  margin: 0 5px;
  color: #ffffff;
  background: #ed7839;
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.content__title-icons-buttons .small {
  width: 3.5rem;
}

.content__title-icons-citation {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 179%;
  text-align: right;
  letter-spacing: 0.05em;
}

.content__title-icons-citation a {
  color: #ed7839;
  text-decoration: none;
}

/*       ------------------     VIDEO SECTION     ------------------ */

/*   ------------------      SUMMARY SECTION     ------------------    */
