.side-menu {
  position: fixed;
  width: 14rem;
  left: 0;
  top: 0;
  bottom: 0;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBar__header {
  width: 100%;
  height: 4.5rem;
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);

  flex: none;
  order: 0;
  flex-grow: 0;
}

.sideBar__header p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 25px;
  text-align: center;

  color: #ffffff;
}

.sideBar__logo {
  width: 14rem;
  height: 16rem;
}

ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  width: 14rem;
  height: 2.2rem;
  border-bottom: 1px solid #e7e7e7;
  list-style: none;
  transition: 0.1s ease-in-out;
}
.menu-item:hover {
  background: #fdf1eb;
}

.menu-item a {
  font-family: 'Quicksand';
  margin: 0 0.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
}

.active {
  background: #fdf1eb;
  border-left: 10px solid;
  border-image: linear-gradient(180deg, #ffb455 0%, #ed7839 100%);
  border-image-slice: 1;
}

@media screen and (max-width: 600px) {
  .side-menu {
    /* width: 7rem; */
    display: none;
  }
}
