* {
  box-sizing: border-box;
}

.App {
  text-align: center;

  background: #fdf1eb;
  margin-left: 220px;
  height: 200vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
